<% if !issues %>
  <div></div>
<% elsif !issues.empty? %>
  <table id="issue-board">
    <% issues.each do |i| %>
      <tr class = "<%=i.id%>"><td><input type="checkbox" class="add-issue"/></td><td><%=i.id%> - <%= i.subject%></td></tr>
    <% end %>
  </table>
<% else %>
  <div class="result-error">No issues to be added.</div>
<% end %>
