<%= text_field_tag 'proj', params[:proj] %>
<%= text_field_tag 'proj_dir', params[:proj_dir] %>
<%= text_field_tag 'non_proj', params[:non_proj] %>
<%= text_field_tag 'non_proj_dir', params[:non_proj_dir] %>
