#total_hours {width:30px;}
#control_panel, #proj_related, #non_proj_related {padding-left:10px; padding-bottom:20px;}
h2 {display:inline;}

table {text-align:center; padding:5px 10px;}
thead th, tbody td {padding-left:10px 10px;}
td.subject {width:530px;}
.custom {padding-right:100px; float:left;}
.head-button {margin-bottom:10px;}
.border-cell {border:1px solid black;}
.total_column {border:2px solid black;}
.add-task-form {width:270px;display:block;margin:0 auto;}
.add-task-id {width:5em;}
.add-task-form .buttons {float: right}
.hidden { display: none }
.border-cell input, .total_column input {border:none; background:none;text-align:center;}
.right-aligned {text-align:right;}
#submit_button {float:right; margin-right:650px; height:30px; width:70px;
