#total_hours {width:30px;}
#control_panel, #proj_related, #non_proj_related {padding-left:10px; padding-bottom:20px;}
h2 {display:inline;}

table {text-align:center; padding:5px 10px;}
thead th, tbody td {padding-left:10px 10px;}
.custom {padding-right:100px; float:left;}
.head-button {margin-bottom:10px;}
tbody td+td+td {border:1px solid black;}
tbody td input, .total_input {border:none; background:none;text-align:center;}

#submit_button {float:right; margin-right:650px; height:30px; width:70px;}

td.subject {width: 530px;}